/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
* {
  box-sizing: border-box;

}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}
body {
  font-family: "Helvetica", sans-serif;
}
#first-contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}
.apple-image{
  max-width: 100%;
}
#absoute-text{
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
